 
 <footer class="mdl-mini-footer">
      <div class="mdl-mini-footer__left-section" >
        Copyright by xxxxxxxxxxxxxx
      </div>
    <div class="mdl-mini-footer__right-section">
     <nav class="mdl-navigation">
        
        <button class=" mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored " href="" style="background:none">About us</button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" href="" style="background:none">Features</button>
        <button id="demo-menu-top-right" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-button--icon" href="" style="background:none"><i class="material-icons">more_vert</i></button>
           <ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect"
              for="demo-menu-top-right">
            <li class="mdl-menu__item">Help</li>
            <li class="mdl-menu__item">Contact Us</li>
            <li  class="mdl-menu__item">FAQ's</li>
            <li class="mdl-menu__item">Our Team</li>
          </ul>
      </nav>
      </div>
 </footer>
 </div>
 
 
 
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
     <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
     <script src="__DIR__/../../../templates/assets/js/custom.js"></script>

</body>
    
</html>